* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(218, 209, 228);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

ul li a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 0.5rem 0;
  align-items: center;
}

h1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

a {
  border: 2px solid black;
  padding: 10px 50px;
  display: block;
  box-shadow: 6px 6px 0 1px rgb(0, 0, 0);
  transition:
    box-shadow 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  text-align: center;
}

.avaliable {
  transform: translateX(-5px);
}

.avaliable:hover {
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: translate(1px, 6px);
}

.card {
  background-color: white;
  box-shadow: 8px 8px 0 1px rgb(0, 0, 0);
  border: 2px solid black;
  padding: 2rem;
}

.wip {
  box-shadow: 0 0 0 0 black;
  font-weight: bolder;
  background: rgb(184, 184, 184);
}

.wip:hover {
  background: rgb(77, 0, 0);

  color: white;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.95rem;
  font-weight: 600;
  color: rgb(40, 40, 40);
}

.footer p {
  border: 2px solid black;
  background: white;

  padding: 0.8rem 1.5rem;

  box-shadow: 6px 6px 0 1px rgb(0, 0, 0);
}

.footer span {
  font-weight: 800;
}

.divider {
  margin: 0 0.5rem;
}
